@()

@main("Welcome to Play") {
  <h1>Simple table!</h1>
  <table>
    <thead>
      <th>ID</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
}
